/**
* CSS for PAMGUARD settings panels. These are dark with clean white buttons and a cyan highlight them.
*
* Author: Jamie Macaulay; 
**/
/*******************************************************************************
 *                                                                             *
 * Declare colour variables                                                                      *
 *                                                                             *
 ******************************************************************************/
{
  -fx-pambackground: rgba(238,238,238);
  -fx-darkbackground: rgba(70,70,70,1);
  -fx-darkbackground2: rgba(80,80,80,1); /*A light background to highlight controls*/
  -fx-darkbackground-trans: rgba(70,70,70,0.85);
  -fx-highlight: rgba(0,204,204,.75);
  -fx-highlight_border: rgba(0,204,204,1);
  -fx-text: white;
  -fx-border_col: white;
  -fx-icon_col: white;
}

 
/*******************************************************************************
 *                                                                             *
 * Panes                                                                      *
 *                                                                             *
 ******************************************************************************/

.root {
  /*-fx-background-color: -fx-darkbackground;*/
  /*-fx-padding: 10;*/
  -fx-background-color: -fx-darkbackground2;
  -fx-font-size: 9pt;
  -fx-font-color: -fx-text;
  -fx-font-family: "Ubuntu";

   -fx-border-radius: 5 5 5 5;
   -fx-background-radius: 5 5 5 5;

   -icons-color: -fx-icon_col;
}

.pane {
  -fx-background-color: -fx-darkbackground2;
}

.pane-trans{
  -fx-background-color: -fx-darkbackground-trans;
}

/*.border{
  -fx-background-color: -fx-darkbackground;
}

.grid {
  -fx-background-color: -fx-darkbackground;
}

.hBox {
  -fx-background-color: -fx-darkbackground;
}*/


/*******************************************************************************
 *                                                                             *
 * Hiding Tab                                                                  *
 *                                                                             *
 ******************************************************************************/
 #hide-tab {
    -fx-background-color: transparent;
    -fx-border-radius: 5 5 0 0;
    -fx-background-radius: 5 5 0 0;
    -fx-border-color: -fx-border_col;
}

 #show-tab {
    -fx-background-color: transparent;
    -fx-border-radius: 5 5 0 0;
    -fx-background-radius: 5 5 0 0;
    -fx-border-color: -fx-border_col;
}

 #hide-tab-highlight {
    -fx-background-color: -fx-highlight;
    -fx-border-radius: 5 5 0 0;
    -fx-background-radius: 5 5 0 0;
    -fx-border-color: -fx-highlight_border;
}

/*******************************************************************************
 *                                                                             *
 * Label                                                                      *
 *                                                                             *
 ******************************************************************************/

.label{
   -fx-text-fill: -fx-text;
}

#label-title1 {
    -fx-font: bold 16pt  -fx-font-family;
    -fx-text-fill: -fx-text;
}

#label-title2 {
    -fx-font: bold 13pt  -fx-font-family;
    -fx-text-fill: -fx-text;
}

/*******************************************************************************
 *                                                                             *
 * Slider                                                                      *
 *                                                                             *
 ******************************************************************************/


 .slider .axis {
    -fx-fill: -fx-text;
    -fx-stroke: -fx-text;
    -fx-tick-label-fill: -fx-text;
    -fx-text-fill: -fx-text;
    -fx-tick-mark-stroke: -fx-text;
}

/*******************************************************************************
 *                                                                             *
 * Dialog Pane                                                                 *
 *                                                                             *
 ******************************************************************************/

/* .dialog-pane {
  -fx-background-color: -fx-darkbackground;
}
*/
/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/

.button{
   -fx-text-fill: white;
   -fx-background-color: -fx-darkbackground;
   -fx-border-color: -fx-border_col;
   -fx-border-radius: 5;
   -fx-background-radius:6;
   -fx-padding: 3 6 6 6;
}

.button:hover{
   -fx-background-color: -fx-highlight; 
   -fx-border-color: -fx-highlight_border;
}

.button:selected{
  -fx-border-color: -fx-highlight;
}

/**
 * Button for closing a hiding panel. Right indicates bottoms points towards the right, closing a hiding panel 
 * on the right hand side of the screen. These buttons have a transparent background and rounded corners. 
 */
 /** top-left, top-right, bottom-right, and bottom-left corners, in that order. */
.close-button-right{
 -fx-background-color: transparent;
 -fx-background-radius: 0 10 10 0;
  -fx-border-color: transparent;
 -fx-border-radius: 0 10 10 0;
}


.close-button-left{
 -fx-background-color: transparent;
 -fx-background-radius: 10 0 0 10;
 -fx-border-color: transparent;
 -fx-border-radius: 10 0 0 10;
}


.close-button-top{
 -fx-background-color: transparent;
 -fx-background-radius: 10 10 0 0;
  -fx-border-color: transparent;
 -fx-border-radius: 10 10 0 0;
}


.close-button-bottom{
 -fx-background-color: transparent;
 -fx-background-radius: 0 0 10 10;
  -fx-border-color: transparent;
 -fx-border-radius: 0 0 10 10;
}


.close-button-bottom-trans{
 -fx-border-color: transparent;
 -fx-background-color: transparent;
 -fx-background-radius: 0 0 10 10;
 -fx-border-radius: 0 0 10 10;
}

.close-button-left-trans{
 -fx-border-color: transparent; 
 -fx-background-color: transparent;
 -fx-background-radius: 10 0 0 10;
 -fx-border-radius: 10 0 0 10;
}

.close-button-right-trans{
 -fx-border-color: transparent; 
 -fx-background-color: transparent;
 -fx-background-radius: 0 10 10 0;
 -fx-border-radius: 0 10 10 0;
}

.square-button{
  -fx-background-radius: 0 0 0 0;
  -fx-border-radius: 0 0 0 0;
}

.square-button-trans{
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-radius: 0 0 0 0;
  -fx-border-radius: 0 0 0 0;
}

.module-hide-top{
 -fx-border-color: transparent;
 -fx-background-radius: 5 5 0 0;
 -fx-border-radius: 5 5 0 0;
}

.module-hide-bottom{
 -fx-border-color: transparent;
 -fx-background-radius: 0 0 5 5;
 -fx-border-radius: 0 0 5 5;
}

.delete-button:hover{
    -fx-background-color: rgba(1,0,0,0.7);
}


/*******************************************************************************
 *                                                                             *
 * Toggle Button                                                                *
 *                                                                             *
 ******************************************************************************/

 .toggle-button{
   -fx-text-fill: white;
   -fx-background-color: -fx-darkbackground;
   -fx-border-color: -fx-border_col;
   -fx-border-radius: 5;
   -fx-background-radius:6;
   -fx-padding: 3 6 6 6;
}

.toggle-button:hover{
   -fx-background-color: -fx-highlight; 
   -fx-border-color: -fx-highlight_border;
}

.toggle-button:selected {
  -fx-border-color: -fx-highlight;
  -fx-background-color: -fx-highlight;
}

.toggle-button:selected:focused {
  -fx-border-color: -fx-highlight;
  -fx-background-color: -fx-highlight;
}



/*******************************************************************************
 *                                                                             *
 * TextField                                                                  *
 *                                                                             *
 ******************************************************************************/

.text-field {
    -fx-background-color: -fx-darkbackground;
    -fx-border-color: -fx-border_col;
    -fx-border-radius: 5;
    -fx-text-fill: -fx-text;
}

.text-field:selected{
  -fx-border-color: -fx-highlight;
}

.text-field:focused{
   -fx-border-color: -fx-highlight;
}


/*******************************************************************************
 *                                                                             *
 * MenuButton                                                                  *
 *                                                                             *
 ******************************************************************************/

.menu-button{
  -fx-text-fill: -fx-text;
  -fx-background-color: -fx-darkbackground;
  -fx-border-color: transparent;
  -fx-border-radius: 0;
  -fx-padding: 3 6 6 6;
}

.menu-button:hover {
  -fx-background-color: -fx-highlight;
 }


/*******************************************************************************
 *                                                                             *
 * SplitMenuButton                                                             *
 *                                                                             *
 ******************************************************************************/

.split-menu-button{
  -fx-text-fill: -fx-text;
  -fx-background-color: -fx-darkbackground;
  -fx-border-color: -fx-border_col;
  -fx-border-radius: 5;
}


.split-menu-button:hover{
 -fx-border-color: -fx-highlight_border;
}


.split-menu-button .label {
  -fx-text-fill: white;
  -fx-background-color: -fx-darkbackground;
  -fx-border-radius: 5;
}


.split-menu-button .label:hover {
   -fx-background-color: -fx-highlight; 
}


.split-menu-button .arrow-button {
  -fx-text-fill: -fx-text;
  -fx-background-color: -fx-darkbackground;
  -fx-border-radius: 5;
}


.split-menu-button .arrow-button:hover {
 -fx-background-color: -fx-highlight; 
}


/*******************************************************************************
 *                                                                             *
 * Radio Button                                                                *
 *                                                                             *
 ******************************************************************************/
.radio-button {
  /*    -fx-text-fill: rgb(255, 255, 255, 0.4);*/
  -fx-text-fill: -fx-text;
  /*    -fx-effect: dropshadow(one-pass-box , rgba(0, 0, 0, 0.6), 0, 0.0 , 0 , 1 );*/
  -fx-border-width: 0px;
}

/*******************************************************************************
 *                                                                             *
 * Check Box                                                                   *
 *                                                                             *
 ******************************************************************************/

 .check-box {
  /*    -fx-text-fill: rgb(255, 255, 255, 0.4);*/
  -fx-text-fill: -fx-text;
  /*    -fx-effect: dropshadow(one-pass-box , rgba(0, 0, 0, 0.6), 0, 0.0 , 0 , 1 );*/
  -fx-border-width: 0px;
}

/*******************************************************************************
 *                                                                             *
 * ComboBox                                                                    *
 *                                                                             *
 ******************************************************************************/


.combo-box .list-cell 
{
    -fx-background: -fx-darkbackground;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text;
}

.combo-box-popup .list-view 
{
    -fx-background-color: -fx-darkbackground, -fx-darkbackground;
    -fx-background-insets: 0, 1;
}    

.combo-box-popup .list-view .list-cell 
{

    /*No alternate highlighting*/
    -fx-background-color: -fx-darkbackground;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-background: -fx-highlight;
    -fx-background-color: -fx-highlight;
    -fx-text-fill: -fx-text;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: -fx-highlight;
    -fx-text-fill: -fx-text;
}

.combo-box-base  
{
    -fx-border-color: -fx-border_col;
    -fx-border-radius: 5;
    -fx-background-color: -fx-darkbackground, -fx-darkbackground, -fx-darkbackground, -fx-darkbackground;
}

.combo-box-base:hover
{
    -fx-color: -fx-highlight;
    -fx-background-color: -fx-highlight;
}

.combo-box-base:showing 
{
    -fx-color: -fx-highlight;
    -fx-background-color: -fx-highlight;

}


.combo-box-base:disabled {
    -fx-opacity: .4;
}


/*******************************************************************************
 *                                                                             *
 * ChoiceBox                                                                    *
 *                                                                             *
 ******************************************************************************/


.choice-box{
  -fx-background-color: -fx-darkbackground;
  -fx-border-color: -fx-border_col;
  -fx-border-radius: 5;
  -fx-padding: 3 6 6 6;
}


/*******************************************************************************
 *                                                                             *
 * MenuItem                                                                    *
 *                                                                             *
 ******************************************************************************/


.menu-item .label {
    -fx-text-fill: -fx-text;
    /*Must be transpernt so that semi transparent colour is not added to smei transparent*/ 
    -fx-background-color: transparent;
}


.menu-item:focused {
   -fx-background-color: -fx-highlight;
}

.menu-item:focused .label {
    -fx-text-fill: -fx-text;
/*Weird fix-must make transparent for correct colour to show*/
    -fx-background-color: rgba(0,204,204,0); 
}

.context-menu {
    /*-fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";*/
    -fx-background-color: -fx-darkbackground;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
/*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

/****************************************************************
 
  ScrollPane  
 
****************************************************************/
.scroll-pane {
  -fx-background: transparent;
  -fx-background-color: transparent;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane-dark{
  -fx-background: -fx-darkbackground;
  -fx-background-color: -fx-darkbackground;
}


/****************************************************************
 
  ScrollBar  
 
****************************************************************/
.scroll-bar {
 -fx-background-color: rgb(96,96,96);
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 2em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-insets: 4 0 4 0;
 -fx-background-radius: 2em;
}
.scroll-bar:vertical .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-insets: 0 4 0 4;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
 -fx-background-color: rgb(231,231,231);
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
 -fx-background-color: rgb(255,255,255);
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-background-color: rgb(211,211,211);
 -fx-padding: 0.25em;
 -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 0;
}
.scroll-bar:horizontal .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: -180;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
 -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}

/****************************************************************
 
  Spinner  
 
****************************************************************/

.spinner {
  -fx-background: -fx-darkbackground;
  -fx-background-color: -fx-darkbackground;
  -fx-background-radius: 5;
  -fx-border-radius: 5;
  -fx-border-color: transparent;
}

.spinner .text-field {
  -fx-background: -fx-darkbackground;
  -fx-background-color: -fx-darkbackground;
  -fx-border-radius: 0 0 0 0;
  -fx-padding: 7 0 7 0;
  -fx-border-color: transparent;
}

.spinner .increment-arrow-button {
  -fx-text-fill: white;
  -fx-background-color: -fx-darkbackground;
  -fx-border-color: -fx-border_col;
  -fx-background-radius: 6 6 0 0;
  -fx-border-radius: 6 6 0 0;
  -fx-padding: 7 0 7 0;
}

.spinner .increment-arrow {
    -fx-background-color: white;
}

.spinner .increment-arrow-button:hover {
   -fx-background-color: -fx-highlight; 
   -fx-border-color: -fx-highlight_border;
   -fx-background-radius: 6 6 0 0;
   -fx-border-radius: 6 6 0 0;
}

.spinner .decrement-arrow-button {
  -fx-text-fill: white;
  -fx-background-color: -fx-darkbackground;
  -fx-border-color: -fx-border_col;
  -fx-background-radius: 0 0 6 6;
  -fx-border-radius: 0 0 6 6
}

.spinner .decrement-arrow {
    -fx-background-color: white;
}

.spinner .decrement-arrow-button:hover {
   -fx-background-color: -fx-highlight; 
   -fx-border-color: -fx-highlight_border;
   -fx-background-radius: 0 0 6 6;
   -fx-border-radius: 0 0 6 6;
}

/*Arrows are horizontal either side of text box*/
.spinner.split-arrows-horizontal .increment-arrow-button {
  -fx-text-fill: white;
  -fx-background-color: -fx-darkbackground;
  -fx-border-color: -fx-border_col;
  -fx-border-radius: 0 6 6 0
}


.spinner.split-arrows-horizontal .decrement-arrow-button {
   -fx-text-fill: white;
  -fx-background-color: -fx-darkbackground;
  -fx-border-color: -fx-border_col;
  -fx-border-radius: 6 0 0 6
 }

 .spinner.split-arrows-horizontal .increment-arrow-button:hover {
   -fx-background-color: -fx-highlight; 
   -fx-border-color: -fx-highlight_border;
   -fx-background-radius: 0 6 6 0;
   -fx-border-radius: 0 6 6 0;
}


.spinner.split-arrows-horizontal .decrement-arrow-button:hover {
   -fx-background-color: -fx-highlight; 
   -fx-border-color: -fx-highlight_border;
   -fx-background-radius: 6 0 0 6;
   -fx-border-radius: 6 0 0 6;
 }

.spinner.split-arrows-horizontal .text-field {
    -fx-border-color: -fx-border_col;
     -fx-background: -fx-darkbackground;
    -fx-background-color: -fx-darkbackground;
    -fx-text-alignment: center;
    -fx-alignment: center;
}


/*******************************************************************************
 *                                                                             *
 * Tab Panes are usgly in Modena!                                                                *
 *                                                                             *
 ******************************************************************************/

.tab-pane .tab-header-area .tab-header-background {
    -fx-effect: null;
    -fx-background-color: transparent;
    /*Hack to make a line under the tab pane which goes the length ofg the header. */
    -fx-border-color: transparent transparent -fx-border_col transparent;
}

.tab-pane .tab-header-area {
    -fx-background-insets: 0, 0 0 0 0;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0em 0em 0.0em 0.0em; /* overriden as 5 2 0 0 */
}

.tab-pane
{
    -fx-tab-min-width:60px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}

.tab-pane .tab
{
    -fx-background-color: -fx-darkbackground-trans; 
    -fx-border-color:  transparent transparent -fx-border_col transparent; /*Hack*/
    -fx-background-radius: 6 6 0 0;
    -fx-border-radius: 6 6 0 0;
}

.tab-pane .tab:selected
{
/*    -fx-background-color: -fx-darkbackground-trans; */
    -fx-background-color: grey; 
    -fx-border-color: white;
    -fx-focus-color: transparent;
    -fx-effect: null;
}

.tab-pane .tab:focused
{
    -fx-focus-color: transparent;
    -fx-border-color: white;
    -fx-background-color: transparent;
    -fx-effect: null;

}

.tab-pane .tab:hover
{
    -fx-focus-color: -fx-highlight_border;
    -fx-border-color: -fx-highlight;
    -fx-background-color: -fx-highlight;
    -fx-effect: null;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    /*-fx-font-weight: bold;*/
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
}

.tab-square
{
    -fx-background-color: -fx-darkbackground-trans; 
    -fx-border-color:  transparent transparent -fx-border_col transparent; /*Hack*/
    -fx-background-radius: 0 0 0 0;
    -fx-border-radius: 0 0 0 0;
}

.tab-square:selected
{
    -fx-background-color: -fx-darkbackground-trans; 
    -fx-border-color: white;
    -fx-focus-color: transparent;
    -fx-effect: null;
}

.tab-square:focused
{
    -fx-focus-color: transparent;
    -fx-border-color: white;
    -fx-background-color: transparent;
    -fx-effect: null;

}



/*******************************************************************************
 *                                                                             *
 * Titled Pane                                                                  *
 *                                                                             *
 ******************************************************************************/

 .titled-pane 
{
-fx-text-fill: -fx-text;
}

.titled-pane:focused 
{
-fx-text-fill: -fx-text;
}

 .titled-pane .title 
{
-fx-background-color: -fx-darkbackground;
-fx-background-insets: 0, 1, 2;
/*-fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;*/
-fx-background-radius: 0 0 0 0; 
-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.titled-pane > .title > .arrow-button 
{
-fx-background-color: null;
-fx-background-insets: 0;
-fx-background-radius: 0;
-fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow 
{
-fx-background-color: -fx-text;
-fx-background-insets: 1 0 -1 0, 0;
-fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
-fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:collapsed > .title > .arrow-button .arrow 
{
-fx-rotate: -90;
}

.titled-pane > *.content 
{
-fx-background-color: transparent;
-fx-box-border: transparent;
-fx-background-insets: 0, 0 1 1 1;
-fx-padding: 0.167em;
 }

.titled-pane:focused > .title > .arrow-button .arrow 
{
-fx-background-color: -fx-text;
}

/*******************************************************************************
 *                                                                             *
 * Chart                                                                       *
 *                                                                             *
 ******************************************************************************/

.chart-plot-background {
    -fx-background-color: -fx-darkbackground;
}

.chart-vertical-grid-lines {
    -fx-stroke:  -fx-text; 
}
.chart-horizontal-grid-lines {
    -fx-stroke:  -fx-text; 
}

.axis {
    -fx-font-size: 1em;    
    -fx-tick-label-fill: -fx-text;
}

.axis-label {
    -fx-text-fill: -fx-text;
}

.thin-chart .chart-series-line {    
-fx-stroke-width: 2px;
}

/*******************************************************************************
 *                                                                             *
 * Table   View                                                                      *
 *                                                                             *
 ******************************************************************************/
 .table-view {
    -fx-base: -fx-darkbackground;
    -fx-control-inner-background: -fx-darkbackground;
    -fx-background-color: -fx-darkbackground;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

/*******************************************************************************
 *                                                                             *
 * Text area                                                                         *
 *                                                                             *
 ******************************************************************************/
.text-area *.content {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Tool tip                                                                         *
 *                                                                             *
 ******************************************************************************/
.tooltip {
    -fx-background: rgba(30,30,30);
    -fx-text-fill: white;
    -fx-background-color: rgba(30,30,30,0.8);
    -fx-background-radius: 6px;
    -fx-background-insets: 0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
    -fx-font-size: 1.5em;
}

/*******************************************************************************
 *                                                                             *
 * Pop over                                                                         *
 *                                                                             *
 ******************************************************************************/

.popover {       
    -fx-background-color: -fx-darkbackground2;          
    -fx-background-radius: 5;
    -fx-border-radius: 5;                    
}

.popover > .content {
    -fx-background-color: -fx-darkbackground2;     
    -fx-background-radius: 5;
    -fx-border-radius: 5;                   
}

.popover > .arrow {
    -fx-background-color: -fx-darkbackground2;       
    -fx-background-radius: 5;
    -fx-border-radius: 5;                 
}

/*weird way to do it but need this to colour the arrow*/
.popover > .border {
    /*-fx-stroke: linear-gradient(to bottom, rgba(0,0,0, .3), rgba(0, 0, 0, .7)) ;*/
    -fx-stroke-width: 0.5;
    -fx-fill: -fx-darkbackground;  /* instead -fx-background-color */
}

/*******************************************************************************
 *                                                                             *
 *  ikonli icons                                                               *
 *                                                                             *
 ******************************************************************************/

.ikonli-font-icon {
  /*-fx-text-fill:  -fx-icon_col;*/
  -fx-icon-color:  -fx-icon_col;
  -fx-icon-size:  17;
}


#module-pane .ikonli-font-icon {
    -fx-icon-color: black;
}


