
{

  -fx-pambackground: rgba(238,238,238);
  -fx-darkbackground: -color-bg-default;
  -fx-darkbackground-trans: rgba(13, 17, 23,0.90);
  -fx-highlight: -color-base-6;
  -fx-highlight_border: -color-button-fg;
  -fx-text: -color-fg-default;
  -fx-border_col: -color-border-default;
  -fx-border_color: -color-border-default;
  -fx-icon_col: -color-fg-default;
  -fx-highlight_border_settings: rgba(0,204,204,1);
  -fx-highlight_settings: rgba(0,204,204,1);
}


.root{
    -fx-font-size: 10pt;
    -fx-font-family: "Ubuntu";
}


/*******************************************************************************
 *                                                                             *
 *  Panes                                                           *
 *                                                                             *
 ******************************************************************************/

.pane {
  -fx-background-color: -fx-darkbackground;
}

.pane-trans{
  -fx-background-color: -fx-darkbackground-trans;
}

.pane-opaque {
  -fx-background-color: -fx-pambackground;
}

/*for plot panes*/
.pane-plot {
  -fx-background-color: -fx-plotbackground;
}

/*******************************************************************************
 *                                                                             *
 *  ikonli icons                                                               *
 *                                                                             *
 ******************************************************************************/

#module-pane .ikonli-font-icon {
    -fx-icon-color: black;
}


.titled-pane {
  -fx-background-color: -color-bg-default;
  -fx-text-fill: -color-fg-default;
  -fx-effect: none;
}

/*******************************************************************************
 *                                                                             *
 * Label                                                                      *
 *                                                                             *
 ******************************************************************************/


#label-title1 {
    -fx-font: bold 14pt  -fx-font-family;
}

#label-title2 {
    -fx-font: bold 13pt  -fx-font-family;
  }

/*******************************************************************************
 *                                                                             *
 * Validator                                                                      *
 *                                                                             *
 ******************************************************************************/


.validatorfx-error {
  -fx-text-fill: rgb(164, 0, 0);  
}

.validatorfx-warning {
  -fx-text-fill: rgb(196, 160, 0);  
}



/********************************************
*                                           *
*      Chart                                *
*                                           *
*********************************************/



.thin-chart .chart-series-line {    
    -fx-stroke-width: 1px;
}


/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/

/*.button{
   -fx-text-fill: white;
   -fx-background-color: -fx-darkbackground;
   -fx-border-color: -fx-border_col;
   -fx-border-radius: 5;
   -fx-background-radius:6;
   -fx-padding: 3 6 6 6;
}*/

/*.button:hover{
   -fx-background-color: -fx-highlight; 
   -fx-border-color: -fx-highlight_border;
}

.button:selected{
  -fx-border-color: -fx-highlight;
}
*/

/**
 * Button for closing a hiding panel. Right indicates bottoms points towards the right, closing a hiding panel 
 * on the right hand side of the screen. These buttons have a transparent background and rounded corners. 
 */
 /** top-left, top-right, bottom-right, and bottom-left corners, in that order. */
.close-button-right{
 -fx-background-color: -fx-darkbackground-trans;
 -fx-background-radius: 0 10 10 0;
  -fx-border-color: transparent;
 -fx-border-radius: 0 10 10 0;
}


.close-button-left{
 -fx-background-color: -fx-darkbackground-trans;
 -fx-background-radius: 10 0 0 10;
 -fx-border-color: transparent;
 -fx-border-radius: 10 0 0 10;
}


.close-button-top{
 -fx-background-color: -fx-darkbackground-trans;
 -fx-background-radius: 10 10 0 0;
 -fx-border-color: transparent;
 -fx-border-radius: 10 10 0 0;
}


.close-button-bottom{
 -fx-background-color: -fx-darkbackground-trans;
 -fx-background-radius: 0 0 10 10;
 -fx-border-color: transparent;
 -fx-border-radius: 0 0 10 10;
}



.close-button-bottom-trans{
 -fx-border-color: transparent;
 -fx-background-color: transparent;
 -fx-background-radius: 0 0 10 10;
 -fx-border-radius: 0 0 10 10;
}

.close-button-left-trans{
 -fx-border-color: transparent; 
 -fx-background-color: transparent;
 -fx-background-radius: 10 0 0 10;
 -fx-border-radius: 10 0 0 10;
}

.close-button-right-trans{
 -fx-border-color: transparent; 
 -fx-background-color: transparent;
 -fx-background-radius: 0 10 10 0;
 -fx-border-radius: 0 10 10 0;
}

.square-button{
  -fx-background-radius: 0 0 0 0;
  -fx-border-radius: 0 0 0 0;
}

.square-button-trans{
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-radius: 0 0 0 0;
  -fx-border-radius: 0 0 0 0;
}

.module-hide-top{
 -fx-border-color: transparent;
 -fx-background-radius: 5 5 0 0;
 -fx-border-radius: 5 5 0 0;
}

.module-hide-bottom{
 -fx-border-color: transparent;
 -fx-background-radius: 0 0 5 5;
 -fx-border-radius: 0 0 5 5;
}

.delete-button:hover{
    -fx-background-color: rgba(1,0,0,0.7);
}


/*******************************************************************************
 *                                                                             *
 * Pop over                                                                         *
 *                                                                             *
 ******************************************************************************/

.popover {       
    -fx-background-color: -fx-darkbackground;          
    -fx-background-radius: 5;
    -fx-border-radius: 5;                    
}

.popover > .content {
    -fx-background-color: -fx-darkbackground;     
    -fx-background-radius: 5;
    -fx-border-radius: 5;       
    -fx-padding: 0 0 0 0;               
}

.popover > .arrow {
    -fx-background-color: -fx-darkbackground;       
    -fx-background-radius: 5;
    -fx-border-radius: 5;                 
}

/*weird way to do it but need this to colour the arrow*/
.popover > .border {
    /*-fx-stroke: linear-gradient(to bottom, rgba(0,0,0, .3), rgba(0, 0, 0, .7)) ;*/
    -fx-stroke-width: 0.5;
    -fx-fill: -fx-darkbackground;  /* instead -fx-background-color */
}

/*******************************************************************************
 *                                                                             *
 * SplitMenuButton                                                             *
 *                                                                             *
 ******************************************************************************/

.split-menu-button{
  -fx-text-fill: -fx-text;
  -fx-background-color: -fx-darkbackground;
  -fx-border-color: -fx-border_col;
  -fx-border-radius: 5;
}


.split-menu-button:hover{
 /*-fx-border-color: -fx-highlight_border;*/
}


.split-menu-button .label {
  -fx-text-fill: white;
  -fx-background-color: -fx-darkbackground;
  -fx-border-radius: 5;
}


.split-menu-button .label:hover {
   -fx-background-color: -fx-highlight; 
}


.split-menu-button .arrow-button {
  -fx-text-fill: -fx-text;
  -fx-background-color: -fx-darkbackground;
  -fx-border-radius: 5;
}


.split-menu-button .arrow-button:hover {
 -fx-background-color: -fx-highlight; 
}


/*******************************************************************************
 *                                                                             *
 * Menu Items                                                             *
 *                                                                             *
 ******************************************************************************/

.menu-item {
  -fx-background-color: -color-bg-default;
  -fx-padding: 8px 12px 8px 12px;
}
.menu-item > .graphic-container {
  -fx-padding: 0 6px 0 0;
}
.menu-item > .label {
  -fx-padding: 0 1em 0 0;
  -fx-text-fill: -color-fg-default;
}
.menu-item > .left-container {
  -fx-padding: 0 1em 0 0;
}
.menu-item > .right-container {
  -fx-padding: 0 0 0 0.5em;
}
.menu-item:focused {
  -fx-background-color: -color-base-7, -color-base-7;
}
.menu-item:disabled {
  -fx-opacity: 0.4;
  -fx-background-color: -color-bg-default;
}



/********************************************
*                                           *
*      Spinner                 *
*                                           *
*********************************************/
.spinner  {
    -fx-pref-width: 120px;
}

.dialog-pane > .content {
  -fx-padding: 1em 1em 1em 1em;
}


/****************************************************************
 
  ScrollPane  
 
****************************************************************/
.scroll-pane {
  -fx-background: #0d1117;
  -fx-background-color: transparent;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane-dark {
  -fx-background: -fx-darkbackground;
  -fx-background-color: -fx-darkbackground;
}


/*******************************************************************************
 *                                                                             *
 * Hiding Tab                                                                  *
 *                                                                             *
 ******************************************************************************/
 #hide-tab {
    -fx-background-color: transparent;
    -fx-border-radius: 5 5 0 0;
    -fx-background-radius: 5 5 0 0;
    -fx-border-color: -fx-border_col;
}

 #show-tab {
    -fx-background-color: transparent;
    -fx-border-radius: 5 5 0 0;
    -fx-background-radius: 5 5 0 0;
    -fx-border-color: -fx-border_col;
}

 #hide-tab-highlight {
    -fx-background-color: -fx-highlight;
    -fx-border-radius: 5 5 0 0;
    -fx-background-radius: 5 5 0 0;
    -fx-border-color: -fx-highlight_border;
}

/*******************************************************************************
 *                                                                             *
 * Pam Internal Pane                                                           *
 *                                                                             *
 ******************************************************************************/

.circle-internal {
  -fx-fill: -fx-highlight_settings;
  -fx-stroke: -fx-highlight_border_settings;
  -fx-stroke-width: 2;
}

.line-internal {
  -fx-fill: -fx-highlight_border_settings;
  -fx-stroke: -fx-highlight_border_settings;
  -fx-stroke-width: 3;
  -fx-stroke-dash-array: 3.0 7.0 3.0 7.0;
}

.button-internal {
  -fx-background-color: -fx-highlight_settings;
  -fx-border-color: -fx-highlight_border_settings;
  -fx-background-radius: 10;
  -fx-border-radius: 10;
}

.button-internal:hover {
   -fx-background-color: -fx-highlight_border_settings;
}

/*******************************************************************************
 *                                                                             *
 * Dialog                                                         *
 *                                                                             *
 ******************************************************************************/


.dialog-pane > .content {
  -fx-padding: 0,0,0,0;
}