.sash-pane:horizontal > .sash {
   -fx-background-color: ladder(
        #ececec,
        black 20%,
        derive(#ececec,-15%) 30%
    ),
    linear-gradient(to right, derive(#ececec,55%), derive(#ececec,-5%));
   -fx-background-insets: 0, 0 1 0 1;
   -fx-cursor: h-resize;
}

.sash-pane:vertical > .sash {
	-fx-background-color: ladder(
        #ececec,
        black 20%,
        derive(#ececec,-15%) 30%
    ), linear-gradient(to bottom,
                ladder(
                    #ececec,
                    derive(#ececec,30%) 0%,
                    derive(#ececec,20%) 40%,
                    derive(#ececec,25%) 60%,
                    derive(#ececec,55%) 80%,
                    derive(#ececec,55%) 90%,
                    derive(#ececec,75%) 100%
                ),
                ladder(
                    #ececec,
                    derive(#ececec,20%) 0%,
                    derive(#ececec,10%) 20%,
                    derive(#ececec,5%) 40%,
                    derive(#ececec,-2%) 60%,
                    derive(#ececec,-5%) 100%
                ));
	-fx-background-insets: 0, 1 0 1 0;
	-fx-cursor: v-resize;
}